@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.image-hover:hover {
  filter: brightness(70%);
}

.image-hover2:hover {
  filter: brightness(25%);
}

.p-hover:hover {
  border-bottom: 1px solid black;
  color: rgb(74, 74, 74);
}
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
  cursor: pointer;
  overflow-x: hidden;
}
.image-hover:hover {
  filter: brightness(70%); /* Decrease brightness on hover */
  
}
.image-hover2:hover {
  filter: brightness(25%); /* Decrease brightness on hover */
  
}
.p-hover:hover {
border-bottom: 1px solid black;
color: rgb(74, 74, 74);
/* Add border on hover */
}
body {
  background: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 50%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #faf7f1;
  mix-blend-mode: multiply;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #faf7f1;
  mix-blend-mode: multiply;
}
